---
---
<header class="card-header">
          <div class="brand-wrapper">
            <div class="brand-logo">
              <img src="logo.webp" alt="JR - Jhosep Quiroz" />
            </div>
            <div class="brand-info">
              <h3>Jhosep Quiroz</h3>
              <span>Software Engineering</span>
            </div>
          </div>
          
        </header>
